* {
  margin: 0;
  padding: 0;
}
.fall-banner {
  margin: 0 auto;
  position: relative;
  z-index: 0;
  min-height: 155px;
  height: 9.375vw;
  min-width: 999px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  .animate-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    & > .layer {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        perspective: 1000;
      }
    }
  }
  .fall-wrapper {
    width: 999px;
    margin: 0 auto;
    position: relative;
    pointer-events: none;
    a {
      position: absolute;
      pointer-events: auto;
      width: 220px;
      height: 50%;
      min-height: 60px;
      bottom: 10px;
      z-index: 1;
    }
  }
}
